@{
    ViewBag.Title = "q2";
    Layout = "~/Views/Shared/_3rdLayout.cshtml";
}
<html xmlns:wb="http://open.weibo.com/wb">
<head>
    <title>Sina</title>
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <script src="http://www.skillbank.cn/scripts/libs/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://www.skillbank.cn/scripts/common.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=111240964" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        WB2.anyWhere(function (W) {
            W.widget.connectButton({
                id: "wb_connect_btn",
                type: "1,2",
                callback: {
                    login: function (o) {	//登录后的回调函数
                        console.log(o);
                    },
                    logout: function () {	//退出后的回调函数
                        
                    }
                }
            });
        });

        function Login() {
            var returnUrl = encodeURIComponent("http://www.skillbank.cn/social/sina/");
            console.log("url"+returnUrl);
            window.location = "https://api.weibo.com/oauth2/authorize?client_id=111240964&response_type=code&redirect_uri=" + returnUrl;
        }

        function Logout() {
            $.ajax({
                url: "http://www.skillbank.cn/SocialHelper/Logout",
                type: "POST",
                cache: false,
                success: function (data) {
                    console.log("Data from sina blog");
                    console.log(data);
                }
            });
        }

        function Logout2() {
            WB2.logout(function () {
                //callback function
            });
        }

        function Login() {
            $.ajax({
                url: "http://www.skillbank.cn/SocialHelper/Login",
                type: "POST",
                cache: false,
                success: function (data) {
                    console.log("Login from sina blog");
                    console.log(data);
                }
            });
        }

        function GetToken() {
            var returnUrl = encodeURIComponent("http://www.skillbank.cn/social/sina/");
            var authCode = $.getUrlParam("code");
            var paraData = {"code":authCode};
            console.log(paraData);
            var requestPath = "http://www.skillbank.cn/SocialHelper/GetAccessToken";
            $.ajax({
                url: requestPath,
                type: "POST",
                dataType: "Json",
                data: paraData,
                cache: false,
                success: function (data) {
                    console.log("Data from sina blog");
                    console.log(data);
                }
            });

        }

        function Share() {
            var title = "Here is title";
            var imgPath = "http://www.skillbank.cn/img/logo-115.png";
            var sharePath = "http://v.t.sina.com.cn/share/share.php?title=" + encodeURIComponent(title) + "&url=" + encodeURIComponent(location.href) + '&rcontent=testcontent' + '&pic=' + imgPath;
            window.open(sharePath, '_blank', 'scrollbars=no,width=600,height=450,left=75,top=20,status=no,resizable=yes');

        }
</script>
</head>
<body>
    <div id="wb_connect_btn"></div>
    <!--<wb:login-button type="1,2" onlogin="login" onlogout="logout">登录按钮</wb:login-button>-->

    <a href="javascript:void((function(s,d,e){try{}catch(e){}var f='http://v.t.sina.com.cn/share/share.php?',u=d.location.href,p=['url=',e(u),'&title=',e(d.title),'&appkey=2924220432'].join('');function a(){if(!window.open([f,p].join(''),'mb',['toolbar=0,status=0,resizable=1,width=620,height=450,left=',(s.width-620)/2,',top=',(s.height-450)/2].join('')))u.href=[f,p].join('');};if(/Firefox/.test(navigator.userAgent)){setTimeout(a,0)}else{a()}})(screen,document,encodeURIComponent));">share
    </a>

    <a href="javascript:Share();">Share to Sina blog</a>
    <br />
    <a href="javascript:Login();">Login Sina blog</a>
     <br />
    <a href="javascript:Logout2();">Logout2</a>
    <br />
    <a href="javascript:GetToken();">GetToken</a>
    <br />
    <!--<a href="javascript:Login();">Login</a>
    <br />-->
    <div class="WB_loginButton WB_widgets login_button_32">
        <a href="//weibo.com/u/1885646861">
            <img src="http://tp2.sinaimg.cn/1885646861/30/1298686485/0" alt="Cathy_Mu"></a>
        <a class="login_a" href="//weibo.com/u/1885646861" title="Cathy_Mu">Cathy_Mu</a>
        <a class="login_a loginout" href="javascript:void(0);" node-type="wb_loginButton_login">退出</a>

    </div>
</body>

</html>
