.DS_Store
Thumb.db
/TestResults
/UnitTests
/Common/bin
/Common/obj
/packages
/SkillBankUI/bin
/SkillBankUI/obj
/SkillBankUI/web.config
/SkillBankUI/example
/SkillBankUI/images
/SkillBankUI/bower_components
/SkillBankUI/Demo/images
/SkillBankUI/Demo/bower_components
/SkillBankUI/Demo/islider
/Web/obj
/Web/bin
/Business/bin
/Business/obj
/FuntionTests/bin
/FuntionTests/obj