.DS_Store
Thumb.db
/TestResults
/UnitTests
/SkillBankUI/web.config
/SkillBankUI/example
/SkillBankUI/images
/SkillBankUI/bower_components
/Common
/packages
/SkillBankUI/bin
/SkillBankUI/Demo/images
/SkillBankUI/Demo/bower_components
/SkillBankUI/Demo/islider