@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span>021-55225009</span>
    </p>
    
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Support:</span>
        <span><a href="mailto:Support@example.com">Contact@skill-bank.com</a></span>
    </p>
    <p>
        <span class="label">Marketing:</span>
        <span><a href="mailto:Marketing@example.com">Contact@skill-bank.com</a></span>
    </p>
    
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        上海市 杨浦区 淞沪路270号<br />创智天地广场3号楼B1
    </p>
</section>