<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/Data.SkillBankModel.csdl|res://*/Data.SkillBankModel.ssdl|res://*/Data.SkillBankModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=hds-082.hichina.com;initial catalog=hds0820415_db;user id=hds0820415;password=sbank1111;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--
    <add name="Entities" connectionString="metadata=res://*/Data.SkillBankModel.csdl|res://*/Data.SkillBankModel.ssdl|res://*/Data.SkillBankModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=qds-028.hichina.com;initial catalog=qds0280365_db;user id=qds0280365;password=sbank1111;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities" connectionString="metadata=res://*/Data.SkillBankModel.csdl|res://*/Data.SkillBankModel.ssdl|res://*/Data.SkillBankModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;Character Set=utf8;user id=root;persistsecurityinfo=True;database=skillbank&quot;" providerName="System.Data.EntityClient" />
    <add name="SkillBankConnection" connectionString="metadata=res://*/Data.SkillBankModel.csdl|res://*/Data.SkillBankModel.ssdl|res://*/Data.SkillBankModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;Character Set=utf8;user id=root;persistsecurityinfo=True;database=skillbank&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
</configuration>