@section HeaderStyle
{<meta name="robots" content="index,follow" />
@Html.CombresCustomUrl("contentCss")}
<div class="body">
    <div class="inner">

        <div class="aboutus">

            <div class="aboutus-hd">
                <h2>关于我们</h2>
            </div>

            <div class="aboutus-bd">
                <table class="table-layout no-border">
                    <tr>
                        <td class="aboutus-side">
                            <div class="spaced-larger">
                                <img src="../img/logo-square.png">
                            </div>

                            <div class="spaced-larger">
                                <h4>我们的理念</h4>
                                <p>没有人万事皆知，但我们都有一技之长。把技能聚集起来，我们可以创造一个知识技能的共享社交网络。</p>
                            </div>

                            <div class="spaced-larger">
                                <h4>名字的由来</h4>
                                <p>“技能银行”是由“技能分享”和“时间银行”两个概念合成的。</p>
                                <p>“时间银行”的概念最早是在国外兴起的。在时间银行里，时间被当作货币，人们可以把自己空闲的时间以服务他人的形式存进时间银行，当自己有需要时则可以从中支取“被服务时间”。</p>
                                <p>受到这个概念的启发，在技能银行里，我们创造了“课币”这个新的货币单位。在我们的平台上，每个人都可以用“线上发布课程，线下一对一面授教课”的方式去赚取“课币”。然后就可以用自己挣来的“课币”去学习平台上任何一堂别人开设的课程。</p>
                            </div>

                        </td>

                        <td class="aboutus-main">
                            <div class="spaced-larger">
                                <h3>技能银行——一个P2P的知识技能的社交网络</h3>
                                <p>最初当朋友问我为什么想要做“技能银行”时，我毫无抱负的第一反应是“你不觉得这个项目很有趣吗？” </p>
                                <p>记得我曾突然莫名地对咖啡拉花感兴趣，但上网搜索之后发现，好吧，我对价格的预判实在错的离谱，要为一个突发奇想的小兴趣立即花掉几千块？我还是再想想吧。。。然后这个念头就被搁置了，然后你们懂的，就没有然后了。。。但我还是时不时会想：想学点什么技能或了解什么知识的时候，如果能有个地方让我轻松找到合适靠谱的人，那该有多方便！这些想法虽然并非“技能银行”产生的主要原因，但当我真正开始着手实现这个项目时，才发现技能银行真的能解决很多人学技能无从入手的困扰。</p>
                                <p>我脑中的理想学习画面是：下班后在两条街外的咖啡馆与一位愿意教我“咖啡拉花”的咖啡师相约，当我创业想要了解财务知识时，不用拜托朋友，也能轻松找到个靠谱信得过的财务人士，针对我的水平和需要为我解答。周末，我也愿意花1到2个小时，为想要学习设计或练习英语的朋友提供帮助。先不用去计较我从中得到了多少又付出了多少，我只觉得这样的生活听上去真的很有趣，比宅在家里上网搜索却只看到各种不靠谱的资料和广告有趣多了，你说呢？这也就是技能银行想要实现的美好生活画面。</p>
                                <p>在创办技能银行的过程中，我经历了向无数人介绍想法的过程，我们一直坚持的“分享”和“知识社交网络”的概念，不出意外地遭到了不少吐槽。“中国人根本就不爱分享”是其中最常听到反馈。我曾在一次讲座中受到硅谷知识信息分享文化的启发，于是想要把“我为人人，人人为我”作为我们的宣传口号，结果遭来朋友们的一片白眼，说是在这个以泛二和自黑见常的大环境里，把自己标榜成这样简直是No Zuo No Die。可即便如此，我和我的小伙伴还是决定要尝试一下，并不是为了证明别人是错的，而只是真心希望我们是对的。</p>
                                <p>听取了专业人士的意见后，我们还是决定用相对低调的方式来解释我们所理解的知识技能社交网络的概念：在主流社交网络里，我们的关注点可能集中在一个人的表象，看到的是从图文中展示的相貌、观点及生活琐事；而在技能银行，我们希望对于一个人的关注和认同能更多地集中在TA所掌握的知识技能上，当然还有愿意分享自己的知识以及愿意与他人作交流的这种生活态度。</p>
                                <p>我们会忍住不说“正能量”，所以就请把我们想得更简单些，我们就是一个会让你的生活变得更有趣，而别人还能从你的有趣生活中受益的一个平台。</p>
                            </div>

                            <h3>技能银行创始人——Elaine</h3>
                            <p><a href="http://weibo.com/u/1881188114" target="_blank">查看她的微博</a></p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
</div>
