@section HeaderStyle
{<meta name="robots" content="index,follow" />
    @Html.CombresCustomUrl("contentCss")}
<div class="body">
    <div class="inner">

        <div class="qna">

            <div class="qna-hd">
                <h2>做不一样的事，过不一样的生活 - 【技能先锋招募】</h2>
            </div>

            <div class="qna-bd">
                <div class="row-fluid">
                    <div class="span2">
                        <ul class="nav nav-tabs nav-stacked">
                            <li class="active"><a href="#general" data-toggle="tab">技能先锋招募 <i class="fa fa-caret-right"></i></a></li>
                        </ul>
                    </div>
                    <div class="span10">
                        <div class="tab-content">
                            <div class="tab-pane active" id="general">

                                <div class="spaced-larger">
                                    <p>每一种技能和经验的获得都是为了让自己变得更好，而每一次把自己掌握的东西分享给他人更可以让生活变得有趣和有意义。【技能银行】就是一个“所有人教所有人，所有人向所有人学习”的地方，分享你掌握的技能，找到你想学的知识，认识新的朋友，开始做不一样的事，开始过不一样的生活。
                            如果你和我们一样，希望有一个地方可以让你轻松发现各种技能和达人，或是有一个地方可以让你和你的小伙伴展现才能，介绍各种我们所熟悉或未知的技能知识的话，技能银行就请你成为【技能先锋】，和我们一起成长，和我们一起改变这个世界的常规。
                                    </p>
                                    <p>
                                        <img src="../img/poster0.jpg">
                                    </p>
                                </div>
                                <div class="spaced-larger">
                                    <h4>技能银行www.skillbank.cn是什么？</h4>
                                    <p>“技能银行www.skillbank.cn”是一个新型的技能分享平台，你可以在上面用开课的方式分享自己的知识、技能和经验来换取虚拟课币，再用课币去学习其他人分享出来的各种新技能。我们鼓励大家线下见面分享，鼓励面对面真实的交流。我们想让每个人身上的技能都有机会被发现并产生价值，让每个人都重新审视自己身上的闪光点，也能更快乐地和新朋友一起学习新的东西！</p>
                                </div>
                                <div class="spaced-larger" id="qatab0s1">
                                    <h4>什么是 "技能先锋" ？</h4>
                                    <p>技能先锋是支持技能银行理念，愿意和我们一起努力，共建一个利人利己的技能共享网络的人。</p>
                                    <p>
                                        <img src="../img/poster1.jpg">
                                    </p>
                                </div>

                                <div class="spaced-larger" id="qatab0s2">
                                    <h4>谁能成为 "技能先锋" ？</h4>
                                    <p>我们目前正在招收技能先锋1.0版，主要针对上海地区的大学生，人数限10名之内，招满即止。 </p>
                                    <p>－你需要是个爱和人打交道的人，充满好奇心，热爱生活 </p>
                                    <p>－有社团和活动组织经验者优先 </p>
                                    <p>－文笔佳，擅长摄影的优先 </p>
                                    <p>但即使你不在上海或并非学生，只要你支持我们的理念，也欢你来加入我们，告诉我们你所在的城市，我们会在以后邀请你参加我们线上的一些活动，或成为我们下一版技能先锋的优先人选。</p>
                                    <p>
                                        <img src="../img/poster2.jpg">
                                    </p>
                                </div>

                                <div class="spaced-larger" id="qatab0s3">
                                    <h4>"技能先锋"的职责是什么？</h4>
                                    <p>
                                        1）做一个Skill Hunter, 在校园范围内挖掘各种乐于分享的技能达人，并利用技能银行平台打造校园技能分享的氛围<br />
                                        2）挖掘这些技能达人背后的故事，把他们学习技能过程中的经验和心得分享给大家<br />
                                        3）发挥你的创新力，和技能银行主创团队一起，策划和执行校园内的活动<br />
                                        4）倾听周围技能银行用户的心声，让技能银行这个平台对用户越来越有用
                                   
                                    </p>
                                    <p>
                                        <img src="../img/poster3.jpg">
                                    </p>
                                </div>

                                <div class="spaced-larger" id="qatab0s4">
                                    <h4>"技能先锋" 能收获什么？</h4>
                                    <p>
                                        1）和一个有梦想有创意的初创项目共同成长的经历<br />
                                        2）如果你是大学生，你能获得正式的企业实习证明<br />
                                        3）技能银行主创团队关于创业、互联网产品设计开发等方面交流机会，提升职业素养<br />
                                        4）认识一大帮有着各种技能的高手，过不一样的大学生活<br />
                                        5）优秀的成员将有机会成为技能银行的课程评鉴员，拥有尝试各种新鲜技能的机会，挖掘优秀的课程和老师 
                                   
                                    </p>
                                    <p>
                                        <img src="../img/poster4.jpg">
                                    </p>
                                </div>

                                <div class="spaced-larger" id="qatab0s5">
                                    <h4>如何申请成为技能银行 "技能先锋" ？</h4>
                                    <!--<p>请将你的简历发给我们，并用简短的语言介绍一下你的性格、特点、能力和经历，为什么想要加入我们，与其他人相比成为技能先锋的优势</p>
                                    <p>邮件发送地址：recruiter@skill-bank.com （一定要好好介绍自己哦）</p>
                                    <p>邮件主题：【我要成为技能先锋】+学校名称+姓名</p>-->
                                    <p>如果你想广交多才多艺的朋友，想收获丰富的管理经验，想在平凡校园里过得更精彩，那就快加入技能银行先锋队吧！</p>
                                    <br />
                                    <h3>现在就来 <a href="http://www.wenjuan.com/s/bUBFne/" target="_blank">填写"技能先锋"申请表！</a> 技能君期待你们的加入！</h3>
                                    
                                </div>



                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- end of body -->
