@section HeaderStyle
{@Html.CombresCustomUrl("contentCss")}
<div class="body">
                    <div class="inner">

                        <div class="terms">

                            <div class="terms-hd">
                                <h2>服务协议</h2>
                            </div>
                            
                            <div class="terms-bd">
                                <h4>欢迎来到技能银行</h4>
                                <p>技能银行（www.skillbank.cn），是一个P2P的知识技能社交网络。请您仔细阅读以下条款，如果您对本协议的任何条款表示异议，您可以选择不使用技能银行，当您注册成为技能银行用户（以下简称“用户”），即表示您与技能银行达成协议，并完全接受本服务协议项下的全部条款。本服务协议中提及的“技能银行”与上海技之信息科技有限公司，视为同一个主体，除非另有其他明示规定，技能银行目前所有的服务和功能以及将来推出的新产品，均受到本服务协议条款之规范。</p>
                                <p>技能银行有权根据互联网的发展和中华人民共和国有关法律、法规的变化，持续完善和修改技能银行的服务协议，本服务协议一旦发生变动，将会在网站相关页面上公示修改内容。用户在使用技能银行平台时，有必要对最新的技能银行服务协议进行仔细阅读和重新确认，当发生相关争议时，应以最新公示的服务协议为准。如果用户不同意新版服务协议涉及的改动内容，用户有权停止使用技能银行服务。如果用户选择继续使用技能银行服务，则应视为全面接受服务协议的变动，并继续成为技能银行用户。</p>
                                <p>使用原则：</p>
                                <p>
                                  1.遵守法律。<br>
                                  1.1用户应同意遵守《中华人民共和国合同法》、《中华人民共和国著作权法》及其实施条例、《全国人民代表大会常务委员会关于维护互联网安全的决定》（“人大安全 决定”）、《中华人民共和国保守国家秘密法》、《中华人民共和国电信条例》(“电信条例”)、《中华人民共和国计算机信息系统安全保护条例》、《中华人民 共和国计算机信息网络国际联网管理暂行规定》及其实施办法、《计算机信息系统国际联网保密管理规定》、《互联网信息服务管理办法》、《计算机信息网络国际 联网安全保护管理办法》、《互联网电子公告服务管理规定》（“电子公告规定”）等相关中国法律法规的任何及所有的规定，并对以任何方式使用用户的密码和用户的帐号使用本服务的任何行为及其结果承担全部责任。如违反《人大安全决定》有可能构成犯罪，被追究刑事责任。《电子公告规定》则有明文规定，上网用户使用电子公告服务系统对所发布的信息负责。《电信条例》也强调，使用电信网络传输信息的内容及其后果由电信用户负责。 <br>
                                  1.2在任何情况下，如果技能银行有理由认为用户的任何行为，包括但不限于用户的任何言论和其他行为违反或可能违反上述法律和法规的任何规定，技能银行可在任何时候不经任何事先通知终止向用户提供服务。<br>
                                  1.3国际使用时，用户同应当遵守当地所有适用的法规，包括但不限于关于网上行为及内容发布之法律法规。
                                </p>
                                <p>
                                  2.注册账号。<br>
2.1用户注册时，技能银行要求每个注册用户都绑定不少于一个真实的社交媒体帐号，用户有责任维护自己个人帐号和密码的保密性和安全性，同时要对以其注册邮箱和社交媒体所对应的会员名进行的所有活动和事件负全责。<br>
2.2如果用户在知情的情况下向任何第三方提供用户的帐号和密码，用户的账户会被临时暂停或终止。用户若发现帐号和密码遭到未获授权的使用，或发生其他任何安全漏洞问题时，应立即通告技能银行。如果用户在使用网络服务时违反上述规则而产生任何损失或损害，技能银行不承担任何责任。<br>
2.3用户须对在技能银行的注册信息的真实性、合法性、有效性承担全部责任，用户不得冒充他人；不得利用他人的名义发布任何信息；不得恶意使用注册帐户导致其他用户误认；否则技能银行有权立即停止提供服务，收回其帐号并由用户独自承担由此而产生的一切法律责任。
                                </p>
                                <p>
                                  3.违禁活动。<br>
用户在使用技能银行服务的过程中，不得利用技能银行平台进行如下活动：<br>
1）任何违反或可能违反国家法律和法规的言论或行为，如果技能银行有合理理由认为用户的言论或行为可能违反上述法律法规，技能银行可在任何时候不经任何事先通知终止向该用户提供服务；<br>
2）利用技能银行制作、上传、复制、发布、传播或者转载如下内容：<br>
  • 反对宪法所确定的基本原则的；<br>
  • 危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；<br>
  • 损害国家荣誉和利益的；<br>
  • 煽动民族仇恨、民族歧视，破坏民族团结的；<br>
  • 破坏国家宗教政策，宣扬邪教和封建迷信的；<br>
  • 散布谣言，扰乱社会秩序，破坏社会稳定的；
                                </p>
                                <p>
                                  内容包括但不限于文字、图片、视频信息或其他资料；<br>
3）冒充任何人或机构，或以欺骗等不实方式谎称或使人误认为与任何人或任何机构有关；<br>
4）任何与技能银行服务无关的任何形式的广告活动；或进行其他被技能银行视为不适当的行为。<br>
                                </p>
                                <p>技能银行有权对用户使用技能银行的情况进行审查和监督，如用户在使用技能银行时违反任何上述规定，技能银行或其授权的人有权要求用户改正或直接采取一切必要的措施（包括但不限于更改或删除用户张贴的内容、暂停或终止用户使用技能银行的权利）以减轻用户不当行为造成的影响。</p>
                                <p>
                                  4.知识产权保护。<br>
网站和服务中的所有知识产权（包括著作权、专利、商标、服务标识、商号、设计，不论是否已登记注册）、网站中的信息内容或作为服务内容的信息、运营的数据库、所有网站设计、文字和图表、软件、照片、录像、音乐、声音及其前述组合，以及所有软件编译、相关源代码和软件（包括小应用程序和脚本）均为技能银行（或技能银行的许可方）的财产。未经技能银行事先书面同意，上述任何材料均不得以任何形式被复制、转发、拷贝、分发、再版、下载、展示、张贴或传送，亦不得以任何方式出售、出租或转租，用于制作改编作品、或以任何方式开发利用。但用户可在计算机屏幕上检索和展示网站内容，并以电子形式在硬盘上存储该等内容 （但不得存储在服务器或其他与网络连接的存储设施），或为非商业的个人自用目的进行打印，但前提是用户不得更改任何著作权和专有权公告。未经我们允许，用户不得为商业目的复制、更改、拷贝、发送或使用网站上的任何材料或内容。
                                </p>
                                <p>
                                  5.个人隐私保护。<br>
5.1尊重用户个人隐私信息的私有性是技能银行的一贯原则，技能银行将通过技术手段、强化内部管理等办法充分保护用户的个人隐私信息，除法律或有法律赋予权限的政府部门要求或事先得到用户明确授权等原因外，技能银行保证不对外公开或向第三方透露用户个人隐私信息，或用户在使用服务时存储的非公开内容。同时，为了运营和改善技能银行的技术与服务，技能银行将可能会自行收集使用或向第三方提供用户的非个人隐私信息，这将有助于技能银行向用户提供更好的用户体验和服务质量。<br>
5.2用户注册技能银行，视为用户同意接收技能银行发送相关信息的电子邮件到用户的电子邮箱。
                                </p>
                                <p>
                                  6.免责声明。<br>
6.1用户使用技能银行服务的行为若有任何违反国家法律法规或侵犯任何第三方的合法权益的情形时，技能银行有权直接删除该等违反规定之信息，并可以暂停或终止向该用户提供服务。<br>
6.2若用户利用本服务从事任何违法或侵权行为，由用户自行承担全部责任，因此给技能银行或任何第三方造成任何损失，用户应负责全额赔偿。<br>
6.3用户在技能银行发表的课程内容仅表明其个人的立场和观点，并不代表技能银行的立场或观点。作为课程及相关内容的发表者，用户需自行对所发表内容负责，因所发表内容引发的一切纠纷，由该内容的发表者承担全部法律及连带责任。技能银行不承担任何法律及连带责任。<br>
6.4技能银行不对用户在线下的交易行为引起的任何性质的纠纷负有任何性质的协助义务或承担任何形式的责任。用户应当通过法律途径自行解决其与课程发布者或课程预订者因课程而产生的任何纠纷。<br>
6.5尽管技能银行在课程信息发布之前会对信息的准确性、真实性和合法性作必要核查，但用户应自行对发布信息的准确性、真实性以及合法性负责。 技能银行并不对所发布信息的准确性、真实性和合法性承担保证责任。如用户发现任何发布的课程信息为虚假、违法信息，请立即向技能银行举报（登录技能银行，在“联系我们”页面，有我们的联系方式），我们将进行核实，并采取删除与屏蔽，以及其他相应的技术和法律手段阻止此类信息的发布。技能银行不对用户所发布的信息的删除或储存失败负任何责任。<br>
6.6对于因不可抗力或技能银行不能控制的原因造成的网络服务中断或其它缺陷，技能银行不承担任何责任，但将尽力减少因此而给用户造成的损失和影响。
                                </p>
                                <p>7.其他条款 <br>
用户注册技能银行后，请首先阅读技能银行针对学生和老师关于课程发布、线上订课、线下授课、支付和退还课币等相关的所有使用规则。任何用户开设课程或预订课程后，技能银行即默认为该用户已经阅读并同意了技能银行相关的所有使用规则。
</p>

                                
                            </div>
                        </div>

                    </div>
                </div>
                <!-- end of body -->


