<div class="modal fade modal-confirm-publish" id="modal-confirm-publish" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="contactpop-close">&times;</button>

                <div class="bd">
                    <br />
                    <h4 class="spaced-larger">@Html.GetTrans(614)</h4>
                    <br />
                    <p class="gray">@Html.GetTrans(613)</p>
                    <br />                  
                    <div class="row-fluid">
                        <div class="span6 tright"><a href="#" id="confirm-publish-update" class="btn btn-primary btn-block spaced">@Html.GetTrans(615)</a></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!--end of modal: confirm publish -->

