<div class="modal fade modal-login" id="modal-login" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="sociallogin-popupclose">&times;</button>

                <div class="hd">

                    <h4>@Html.GetTrans(299)</h4>

                </div>

                <div class="bd">

                    <div class="login-box">
                        <div class="login-box-hd">
                            @Html.GetTrans(300)
                        </div>
                        <div class="login-box-bd">
                            <div class="row-fluid">
                                <div class="span8 offset2">
                                    <div class="spaced-larger">
                                        <a href="#" class="btn btn-lg btn-warning btn-block btn-login-sina" id="sociallogin-sinabtn"><i class="fa fa-weibo"></i>&nbsp;&nbsp;@Html.GetTrans(589)</a>
                                    </div>
                                    <div class="spaced-larger">
                                        <a href="#" class="btn btn-lg btn-primary btn-block btn-login-qq" id="sociallogin-qqbtn"><i class="fa fa-qq"></i>&nbsp;&nbsp;QQ （即将开通）</a><!--@Html.GetTrans(590)-->
                                    </div>
                                    
                                    <div class="spaced-larger">
                                        <a href="#" class="btn btn-lg btn-primary btn-block btn-login-renren" id="sociallogin-renrenbtn"><i class="fa fa-renren"></i>&nbsp;&nbsp;@Html.GetTrans(591)</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

