@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_MobileLayout.cshtml";
}
<div class="login-page content has-header">
      <!--<a href="#" class="icon icomoon icon-arrow-left nav-inner nav-left nav-back" data-transition="slide-out"></a>-->

      <div class="contend-padded" align="center">
          <p class="padded-tit">
            <span>
              登录
            </span>
          </p>
          <p class="padded-text">
            请使用社交媒体账号登录，
            <br />
            让技能银行为您创造真实可靠安全的空间<br />
          </p>
          
      </div>


      <div class="content-btn">
        <a id="wechatloginbtn">
          <button class="btn btn-wechat btn-block">
            <span class="icon icomoon icon-wechat"></span>
            <label>微信登录</label>
          </button>
        </a>
        <a href="#" id="sinaloginbtn">
          <button class="btn btn-negative btn-block">
            <span class="icon icomoon icon-weibo"></span>
             新浪微博登录
          </button>
        </a>
        <!--<a href="#" id="mobileloginbtn">
          <button class="btn btn-negative btn-block">
            <span class="icon icomoon icon-heart"></span>
             手机登录
          </button>
        </a>-->
      </div>
    </div>
  