@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_MobileLayout.cshtml";
}
<div class="content has-header" id="register-page">
    <a href="index.html" class="icon icomoon icon-arrow-left nav-inner nav-left grey" data-transition="slide-out"></a>

    <div class="info">
        <img src="images/avatar.png" alt="" class="avatar">
        <p>欢迎&nbsp;Jason &nbsp;Wu</p>
    </div>

    <div class="register_form">
        <form>
            <div class="input-group">
                <input type="number" placeholder="手机号码">
            </div>
            <div class="input-group">
                <input type="text" placeholder="验证码" id="verifyCode">
                <button class="btn btn-grey">获得验证码</button>
            </div>
            <div class="input-group">
                <button class="btn btn-olive btn-block" type="submit">注册</button>
            </div>
            <div class="input-group">
                <p>
                    <input type="checkbox" checked="checked" class="pass-checkbox">
                    <small>我已经阅读并同意 <a href="#">使用条款和隐私政策</a></small>
                </p>
            </div>
        </form>
    </div>
</div>
