@section HeaderStyle
{@Html.CombresCustomUrl("contentCss")}
<div class="body">
    <div class="inner">
        <br />
        <br />
        <br />
        <br />
        <br />
        <h2>很遗憾的通知您，服务器现在心情不好。</h2>
        <br /><br />
        <h4>系统正在梦游中~~，请稍后再试。</h4>
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>
</div>
