<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ratchet template page</title>

    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">

    <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Include the compiled Ratchet CSS -->
    <link href="icomoon/style.css" rel="stylesheet">
    <link href="bower_components/ratchet/dist/css/ratchet.min.css" rel="stylesheet">
    <link href="css/common.css" rel="stylesheet">

    

  </head>
  <body>

    <!-- bug hack -->
    <header class="bar-nav"></header>

    <nav class="bar bar-tab">
      <a class="tab-item active"  href="#" data-transition="slide-in">
        <span class="icon icon-search"></span>
        <span class="tab-label">发现</span>
      </a>
      <a class="tab-item " href="message.html" data-transition="slide-in">
        <span class="icon icomoon icon-comment2"></span>
        <span class="tab-label">消息</span>
      </a>
      <a class="tab-item" href="course.html" data-transition="slide-in" data-ignore="pushY">
        <span class="icon icomoon icon-text"></span>
        <span class="tab-label">课程</span>
      </a>
      <a class="tab-item" href="personal.html" data-transition="slide-in">
        <span class="icon icomoon icon-user"></span>
        <span class="tab-label">个人</span>
      </a>
    </nav>
    
    <div class="loading" style="display: none;">
      <span class="icon icon-refresh spin"></span>
    </div>

    <div class="content" id="course-search">
      <div class="search-bar">
        <form>
          <img src="images/logo.png" alt="" class="logo">
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">
                <span class="icon icon-search"></span>
              </div>
              <input type="search" placeholder="搜索技能" class="icon icon-search">
            </div>
          </div>
        </form>
      </div>
      <div id="search-cat">
        <div class="search-cat-wrap toBeRemoved">
          <div class="inner">
            <a class="active" href="#" data-by="0" data-type="1"> 附近技能 </a>
            <a class="" href="#" data-by="1" data-type="1"> 达人技能 </a>
            <a class="" href="#" data-by="2" data-type="1"> 语言类 </a>
            <a class="" href="#" data-by="2" data-type="2"> 艺术设计 </a>
            <a class="" href="#"> 达人技能 </a>
            <a class="" href="#"> 语言类 </a>
            <a class="" href="#"> 艺术设计 </a>
            <a class="" href="#"> 达人技能 </a>
            <a class="" href="#"> 语言类 </a>
            <a class="" href="#"> 艺术设计 </a>
            <a class="" href="#"> 达人技能 </a>
            <a class="" href="#"> 语言类 </a>
            <a class="" href="#"> 艺术设计 </a>
            <a class="" href="#"> 达人技能 </a>
            <a class="" href="#"> 语言类 </a>
            <a class="" href="#"> 艺术设计 </a>
            <a class="" href="#"> 达人技能 </a>
            <a class="" href="#"> 语言类 </a>
            <a class="" href="#"> 艺术设计 </a>
          </div>
        </div>
      </div>
      <div class="course-list">


        <div class="course card">
          <div class="title-bar u-full-width">
            <a class="pull-left">魔方进阶教程</a>
            <div class="pull-right">
              <a href="#" class="icon icomoon icon-comment white">
                <span class="num">14</span>
              </a>
              <a href="#" class="icon icomoon icon-heart white toggle-like" data-Member_Id="332">
                <span class="num">28</span>
              </a>
            </div>
          </div>
          <a href="#">
            <img src="images/e.jpeg" alt="" class="cover">
          </a>
          <div class="info">
            <a href="#">
              <img src="images/avatar.png" alt="" class="avatar">
            </a>
            <h4>Jason Wu</h4>
            <p>64km 上海</p>
          </div>
        </div>

        <div class="course card">
          <div class="title-bar u-full-width">
            <a class="pull-left">魔方进阶教程</a>
            <div class="pull-right">
              <a href="#" class="icon icomoon icon-comment white">
                <span class="num">14</span>
              </a>
              <a href="#" class="icon icomoon icon-heart white toggle-like" data-Member_Id="332">
                <span class="num">28</span>
              </a>
            </div>
          </div>
          <a href="#">
            <img src="images/e.jpeg" alt="" class="cover">
          </a>
          <div class="info">
            <a href="#">
              <img src="images/avatar.png" alt="" class="avatar">
            </a>
            <h4>Jason Wu</h4>
            <p>64km 上海</p>
          </div>
        </div>

      </div>

      <script type="text/template" id="course-tpl">
        <% _.forEach(courses, function(course) { %>
          <div class="course card" data-Member_Id="<%- course.Member_Id %>" data-ClassId="<%- course.ClassId %>">
            <div class="title-bar u-full-width">
              <a href="#" class="pull-left"><%- course.Title %></a>
              <div class="pull-right">
                <a href="#" class="icon icomoon icon-comment white">
                  <span class="num"><%- course.ReviewNum %></span>
                </a>
                <a href="#" class="icon icomoon icon-heart white toggle-like <%- course.IsLike ? 'liked' : '' %>">
                  <span class="num"><%- course.LikeNum %></span>
                </a>
              </div>
            </div>
            <a href="#"><img src="<%- checkImgHost(imgHost, course.Cover) %>" alt="" class="cover"></a>
            <div class="info">
              <a href="#"><img src="<%- checkImgHost(imgHost, course.Avatar) %>" alt="" class="avatar"></a>
              <h4><%- course.name %></h4>
              <p>64km <%- course.CityName %></p>
            </div>
          </div>
        <% }); %>
      </script>

      
    </div>
    <script src="bower_components/ratchet/dist/js/ratchet.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/lodash/dist/lodash.min.js"></script>
    <script src="js/common.js"></script>
  </body>
</html>
