<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Class</title>

    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">

    <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Include the compiled Ratchet CSS -->
    <link href="icomoon/style.css" rel="stylesheet">
    <link href="bower_components/ratchet/dist/css/ratchet.min.css" rel="stylesheet">
    <link href="css/common.css" rel="stylesheet">

    

  </head>
  <body>

    <!-- bug hack -->
    <header class="bar-nav"></header>

    <nav class="bar bar-tab">
      <a class="tab-item active"  href="#" data-transition="slide-in">
        <span class="icon icon-search"></span>
        <span class="tab-label">发现</span>
      </a>
      <a class="tab-item " href="message.html" data-transition="slide-in">
        <span class="icon icomoon icon-comment2"></span>
        <span class="tab-label">消息</span>
      </a>
      <a class="tab-item" href="course.html" data-transition="slide-in" data-ignore="pushY">
        <span class="icon icomoon icon-text"></span>
        <span class="tab-label">课程</span>
      </a>
      <a class="tab-item" href="personal.html" data-transition="slide-in">
        <span class="icon icomoon icon-user"></span>
        <span class="tab-label">个人</span>
      </a>
    </nav>

    <div class="courses-manage-page content">
      <nav>
        <div class="segmented-control-no-js card">
          <a href="manage-courses.html" class="control-item">课程管理</a>
          <a href="manage-teaching.html" class="control-item ">教课记录</a>
          <a href="manage-studying.html" class="control-item active">学习记录</a>
        </div>
      </nav>
      <div class="teaching-list">
        <div class="teaching card"
          data-name="WuHAHA"
          data-nickname="Jason"
          data-avatar="images/avatar.png"
          data-location="6km . 上海"
          data-date="2015.3.12"
          data-date-oral="一天前"4r
          data-message="老师， 下周开始，周一至周四任意一天的中午12:00-13:00，行不行？"
          data-course="英语口语练习课"
          data-phone="13923982234">
          <div class="inner">
            <div class="profile">
              <a href="#" class="img"> <img src="images/avatar.png" alt="" class="avatar"> </a>
              <div class="name">学生：Jason Wu <br> <small>6km . 上海</small></div>
              <div class="approval">
                <span class="btn-tag orange">等待预定接受</span><br><small>一天前</small>
              </div>
            </div>
            <div class="popover-chat bottom mb-1">
              <div class="arrow"></div>
              <div class="main">老师， 下周开始，周一至周四任意一天的中午12:00-13:00，行不行？</div>
            </div>
            <div class="course-info mb-1">
              预定课程：英语口语练习课 <br>
              订课日期：2015.3.12
            </div>
            <div class="btn-set mb-1">
              <a class="btn confirm">取消订课</a>
              <a class="btn">私信对方</a>
            </div>
          </div>
        </div>
        <div class="teaching card"
          data-name="WuHAHA"
          data-nickname="Jason"
          data-avatar="images/avatar.png"
          data-location="6km . 上海"
          data-date="2015.3.12"
          data-date-oral="一天前"4r
          data-message="老师， 下周开始，周一至周四任意一天的中午12:00-13:00，行不行？"
          data-course="英语口语练习课"
          data-phone="13923982234">
          <div class="inner">
            <div class="profile">
              <a href="#" class="img"> <img src="images/avatar.png" alt="" class="avatar"> </a>
              <div class="name">学生：Jason Wu <br> <small>6km . 上海</small></div>
              <div class="approval">
                <span class="btn-tag green">已被接受</span><br><small>一天前</small>
              </div>
            </div>
            <div class="popover-chat bottom mb-1">
              <div class="arrow"></div>
              <div class="main">老师， 下周开始，周一至周四任意一天的中午12:00-13:00，行不行？</div>
            </div>
            <div class="course-info mb-1">
              预定课程：英语口语练习课 <br>
              订课日期：2015.3.12 <br>
              <span class="olive">课币状态：已被锁定</span><br>
              <span class="olive">联系信息：Jason 13923982234</span>
            </div>
            <div class="btn-set mb-1">
              <a href="#phone" class="btn">电话对方</a>
              <a class="btn">私信对方</a>
            </div>
          </div>
        </div>
        <div class="teaching card"
          data-name="WuHAHA"
          data-nickname="Jason"
          data-avatar="images/avatar.png"
          data-location="6km . 上海"
          data-date="2015.3.12"
          data-date-oral="一天前"4r
          data-message="老师， 下周开始，周一至周四任意一天的中午12:00-13:00，行不行？"
          data-course="英语口语练习课"
          data-phone="13923982234">
          <div class="inner">
            <div class="profile">
              <a href="#" class="img"> <img src="images/avatar.png" alt="" class="avatar"> </a>
              <div class="name">学生：Jason Wu <br> <small>6km . 上海</small></div>
              <div class="approval">
                <span class="btn-tag green">等待支付</span><br><small>一天前</small>
              </div>
            </div>
            <div class="popover-chat bottom mb-1">
              <div class="arrow"></div>
              <div class="main">老师， 下周开始，周一至周四任意一天的中午12:00-13:00，行不行？</div>
            </div>
            <div class="course-info mb-1">
              预定课程：英语口语练习课 <br>
              订课日期：2015.3.12 <br>
              课币状态：已被锁定<br>
              联系信息：Jason 13923982234
            </div>
            <div class="btn-set mb-1">
              <a class="btn confirm">申请退币</a>
              <a href="#phone" class="btn">电话对方</a>
            </div>
          </div>
          <a class="foot-bar dark-olive" data-modal="evaluate">支付课币 </a>
        </div>
        <div class="teaching card"
          data-name="WuHAHA"
          data-nickname="Jason"
          data-avatar="images/avatar.png"
          data-location="6km . 上海"
          data-date="2015.3.12"
          data-date-oral="一天前"4r
          data-message="老师， 下周开始，周一至周四任意一天的中午12:00-13:00，行不行？"
          data-course="英语口语练习课"
          data-phone="13923982234">
          <div class="inner">
            <div class="profile">
              <a href="#" class="img"> <img src="images/avatar.png" alt="" class="avatar"> </a>
              <div class="name">学生：Jason Wu <br> <small>6km . 上海</small></div>
              <div class="approval">
                <span class="btn-tag yellow">授完待评</span><br><small>一天前</small>
              </div>
            </div>
            <div class="popover-chat bottom mb-1">
              <div class="arrow"></div>
              <div class="main">老师， 下周开始，周一至周四任意一天的中午12:00-13:00，行不行？</div>
            </div>
            <div class="course-info mb-1">
              预定课程：英语口语练习课 <br>
              订课日期：2015.3.12 <br>
              课币状态：已经自动支付 <br>
              联系信息：Jason 13923982234
            </div>
          </div>
          <a class="foot-bar btn-evaluate" data-modal="evaluate">评价一下你的老师</a>
        </div>
      </div>

      <div id="phone" class="modal">
        <div class="content">
          <div class="content-inner">
            <div class="content-padded">
              <form>
                <a href="tel:18692806388" class="btn btn-primary btn-block">打电话给对方</a>
                <a href="sms:18692806388" class="btn btn-primary btn-block">发短消息</a>
                <a href="#phone" class="btn btn-block">取消</a>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div id="evaluate" class="modal">
        <header class="bar bar-nav">
          <a class="icon icon-close pull-right grey" href="#evaluate"></a>
          <h1 class="title">评价老师</h1>
        </header>
        <div class="content">
          <div class="content-inner">
            <div class="content-padded">
              <form>
                <ul class="custom-radio mb-1">
                  <li> 
                    <label> 
                      <span class="icon icomoon icon-checkmark round yellow"></span> 
                      <input type="radio" name="level" value="low"> 好评
                    </label>  
                  </li>
                  <li> 
                    <label> 
                      <span class="icon icomoon icon-checkmark round yellow"></span> 
                      <input type="radio" name="level" value="middle"> 中评
                    </label>  
                  </li>
                  <li> 
                    <label> 
                      <span class="icon icomoon icon-checkmark round yellow"></span> 
                      <input type="radio" name="level" value="hight"> 差评
                    </label>  
                  </li>
                </ul>
                <textarea name="message" placeholder="请评价一下对方"></textarea>
                <a href="#" class="btn btn-primary btn-block btn-evaluate">发送评价</a>
              </form>
            </div>
          </div>
        </div>
      </div>

      <script type="text/template" id="teaching-disabled-tpl">
        <div class="teaching card disabled">
          <div class="inner">
            <div class="profile">
              <a href="#" class="img"> <img src="<%- person.avatar %>" alt="" class="avatar"> </a>
              <div class="name"><a href="#">学生：<%- person.name %> </a> <br> <small><%- person.location %></small></div>
              <div class="approval">
                <span class="btn-tag grey">授课结束</span><br><small><%- person.dateOral %></small>
              </div>
            </div>
            <div class="course-info mb-1">
              预定课程：<%- person.course %> <br>
              订课日期：<%- person.date %> <br>
              联系信息：<%- person.nickname %> <%- person.phone %>
            </div>
          </div>
        </div>
      </script>

    </div>
    <script src="bower_components/ratchet/dist/js/ratchet.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/lodash/dist/lodash.min.js"></script>
    <script src="js/common.js"></script>
  </body>
</html>
