@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.spin {
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite; }

.white {
  color: #fff; }

.olive {
  color: #126f8f; }

.lightOlive {
  color: #4f8da5; }

.grey {
  color: #999; }

.lightGrey {
  color: #ccc; }

.red {
  color: red; }

.alarm {
  color: #F76033; }

.golden {
  color: #FCD157; }

body {
  font-family: 'STHeitiSC-Light', 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
  color: #666;
  background: #eee;
  /*-webkit-font-smoothing: antialiased !important;*/
  position: static; }

.vertical-middle {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.mb-0 {
  margin-bottom: 0; }

.mb-05 {
  margin-bottom: 0.5em; }

.mb-1 {
  margin-bottom: 1em; }

.mb-2 {
  margin-bottom: 2em; }

.mb-3 {
  margin-bottom: 3em; }

.mb-4 {
  margin-bottom: 4em; }

.mb-5 {
  margin-bottom: 5em; }

.mb-6 {
  margin-bottom: 6em; }

.mb-7 {
  margin-bottom: 7em; }

.mb-8 {
  margin-bottom: 8em; }

.mb-9 {
  margin-bottom: 9em; }

.mb-10 {
  margin-bottom: 10em; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

header a {
  color: #fff; }

time {
  font-size: 12px;
  color: #ccc; }

[v-cloak] {
  display: none; }

input[type=color], input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], select, textarea {
  font-size: 14px;
  padding: 10px 10px;
  border-radius: 5px; }

:focus {
  outline: none; }

input[type="search"]:focus {
  border: none; }

.title {
  color: #999; }

.avatar {
  border-radius: 50%;
  border: 3px solid #fff;
  width: 90px;
  height: 90px;
  vertical-align: bottom;
  display: inline; }

a {
  color: #999; }

.disabled {
  pointer-events: none; }

.has-header {
  padding-top: 44px !important; }

.no-header {
  padding-top: 0; }

.btn {
  border-radius: 5px;
  height: auto;
  font-size: 14px;
  padding: 8px; }

.icon-camera:before {
  position: relative;
  top: -0.1em; }

.btn-default {
  color: #4f8da5; }

.u-full-width {
  width: 100%; }

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.btn-olive {
  background: #126f8f;
  color: #fff;
  border: none; }
  .btn-olive:active {
    color: #fff; }

.btn-grey {
  background: #999;
  color: #fff; }
  .btn-grey:active {
    color: #fff; }

.btn-transparent {
  background: none;
  color: #A6AFB2;
  border: 1px solid #A6AFB2; }
  .btn-transparent:active {
    background: none;
    color: #A6AFB2; }

.badge {
  width: 18px;
  height: 18px;
  line-height: 20px;
  color: #fff;
  background: red;
  text-align: center;
  padding: 0; }
  .badge:empty {
    display: none; }

.flag-num {
  position: relative;
  display: inline-block;
  color: #126f8f; }
  .flag-num .badge {
    position: absolute;
    top: -8px;
    right: -18px; }
  .flag-num a {
    color: #126f8f; }

body > .bar-nav {
  background: transparent; }
  body > .bar-nav ~ .content {
    padding-top: 0; }

.content {
  background: #eaeaea; }

.segmented-control {
  border-radius: 5px; }

.logo {
  display: inline-block;
  width: 34px; }

.avatar-text {
  list-style: none; }
  .avatar-text li.card {
    padding: 15px;
    margin: 7px; }
    .avatar-text li.card .pull-left {
      margin: 5px 1em 0 0; }
      .avatar-text li.card .pull-left img {
        width: 50px;
        height: 50px; }
      .avatar-text li.card .pull-left .badge {
        top: 0px;
        right: 0px; }
    .avatar-text li.card .msg-title h4 {
      font-size: 15px;
      margin-bottom: 5px; }
    .avatar-text li.card .msg-title time {
      color: #ccc; }
    .avatar-text li.card p {
      margin: 0;
      font-size: 13px;
      line-height: 16px;
      color: #7E7E7E; }
  .avatar-text.private-msg li.card {
    height: 70px;
    padding: 5px; }
    .avatar-text.private-msg li.card p {
      height: 32px;
      overflow: hidden; }

.comment-text {
  list-style: none;
  background: #DBDBDB; }
  .comment-text li.card {
    padding: 1em;
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    margin: 0;
    border-radius: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .comment-text li.card .comment-avatar {
      margin-right: 20px; }
      .comment-text li.card .comment-avatar a img {
        width: 32px;
        height: 32px;
        border: 1px solid #fff; }
      .comment-text li.card .comment-avatar .badge {
        top: 0px;
        right: 0px; }
    .comment-text li.card .comment-content {
      font-size: 14px;
      width: 100%; }
      .comment-text li.card .comment-content p {
        margin: 0; }
      .comment-text li.card .comment-content .msg-title .time {
        color: #fff;
        font-size: 10px; }
      .comment-text li.card .comment-content .flag-num {
        font-size: 14px; }

#bullets ul {
  text-align: center; }
  #bullets ul li {
    display: inline-block;
    width: 8px;
    height: 8px;
    border: 1px solid #999;
    background: #fff;
    border-radius: 50%; }
    #bullets ul li.active {
      border: none;
      background: #126f8f; }

.search-bar {
  background: #0f2e3e;
  overflow: hidden;
  padding: 10px; }
  .search-bar form {
    margin: 0; }
    .search-bar form .row {
      padding: 10px 15px;
      margin: 0; }
  .search-bar img {
    float: left;
    margin: 2px 0 0; }
  .search-bar .input-group {
    position: relative;
    margin-left: 50px;
    background: #415561;
    border-radius: 4px;
    padding: 0; }
    .search-bar .input-group .input-group-addon {
      position: absolute;
      left: 0;
      top: 0;
      display: inline-block;
      height: 28px;
      width: 28px;
      line-height: 28px;
      color: #ccc;
      text-align: center; }
      .search-bar .input-group .input-group-addon .icon-search {
        font-size: 13px; }
    .search-bar .input-group input[type=search] {
      height: 28px;
      padding-left: 30px;
      margin: 0;
      border: none;
      background: none;
      text-align: left;
      color: #ccc;
      font-size: 13px; }

.icomoon {
  font-family: 'icomoon'; }

.statistic {
  background: #fff;
  padding: .9em 0 0.2em;
  border-bottom: 1px solid #ddd; }
  .statistic table {
    margin: 0; }
    .statistic table td, .statistic table th {
      text-align: center;
      border: none; }
    .statistic table th {
      font-size: 15px; }
    .statistic table td {
      font-size: 12px; }
      .statistic table td h6 {
        font-weight: bold;
        margin: 0;
        font-size: 15px;
        color: #666; }
      .statistic table td a {
        color: #A6AFB2; }

input.input-alarm, textarea.input-alarm {
  border: 1px solid #F76033; }

.border-none {
  border: none; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #A6AFB2;
  font-size: 13px; }

select {
  height: 35px;
  line-height: 35px;
  box-shadow: none;
  padding: 0 10px;
  font-size: 13px;
  background: #fff;
  color: #A6AFB2; }

input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%; }

input[type=range]:focus {
  outline: none; }

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  animate: 0.2s;
  box-shadow: none;
  border: none;
  background-image: linear-gradient(-90deg, #A6AFB2 0%, #D9DCDD 100%);
  border-radius: 10px; }

input[type=range]::-webkit-slider-thumb {
  box-shadow: none;
  border: none;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #126f8f;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
  z-index: 3; }

input[type=range]:focus::-webkit-slider-runnable-track {
  /*background: #367ebd;*/ }

.modal {
  background-color: transparent;
  position: absolute;
  left: 0;
  right: 0;
  display: none; }
  .modal.active {
    display: block; }
  .modal header {
    background: #eaeaea;
    position: absolute; }
    .modal header h1 {
      font-size: 20px;
      color: #666; }
  .modal .content {
    background: rgba(0, 0, 0, 0.5); }
    .modal .content .content-inner {
      background: #eaeaea;
      overflow: hidden; }
      .modal .content .content-inner .content-padded {
        margin: 15px; }
        .modal .content .content-inner .content-padded p {
          font-size: 13px; }
        .modal .content .content-inner .content-padded .slider .circle {
          padding-top: 12px; }
          .modal .content .content-inner .content-padded .slider .circle span.golden {
            font-size: 14px; }
  .modal#getCoins .slider {
    background: none;
    text-align: center; }
  .modal#phone .content-inner {
    position: absolute;
    bottom: 0;
    width: 100%; }

nav .segmented-control .control-item, nav .segmented-control-no-js .control-item {
  padding: 10px 0;
  font-size: 14px;
  background: #eaeaea;
  color: #A6AFB2; }
  nav .segmented-control .control-item.active, nav .segmented-control-no-js .control-item.active {
    color: #fff;
    background: #666; }

.bar {
  box-shadow: none;
  background: #fff;
  border-bottom: none; }

.red-dot-wrapper {
  position: relative; }
  .red-dot-wrapper .red-dot {
    position: absolute;
    left: 50%;
    top: 7px;
    margin-left: 6px;
    width: 7px;
    height: 7px;
    background: red;
    border-radius: 50%;
    z-index: 20; }

.icon.white {
  color: #fff; }
  .icon.white span {
    color: #999; }

.icon.liked {
  color: #F76033; }
  .icon.liked span {
    color: #fff; }

.liked, .toggle-like.liked {
  color: #F76033; }

.ico-coin {
  position: absolute;
  top: 5px;
  right: 10px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #FFD048;
  text-align: center;
  z-index: 10; }
  .ico-coin span:first-child {
    color: #fff;
    font-size: 10px; }
  .ico-coin hr {
    border: 0;
    height: 1px;
    background: #fff;
    width: 80%;
    margin: 0 auto 2px; }
  .ico-coin span:last-child {
    color: #333;
    font-size: 13px; }

.circle {
  display: inline-block;
  width: 80px;
  height: 80px;
  background: #fff;
  border-radius: 50%;
  text-align: center; }

.icon.round {
  width: 2em;
  height: 2em;
  padding: 0.5em;
  background: #126f8f;
  color: #fff;
  border-radius: 50%; }

.nav-inner {
  position: absolute;
  top: 10px;
  color: #fff;
  z-index: 1; }
  .nav-inner.nav-left {
    left: 5px; }
  .nav-inner.nav-right {
    right: 10px; }
  .nav-inner.grey {
    color: #999; }

.slide img {
  max-width: 100%;
  display: block; }

.loading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center; }
  .loading span {
    position: absolute;
    top: 45%;
    left: 50%;
    margin: 0 0 0 -15px; }

#search-cat {
  height: 55px; }

.search-cat-wrap {
  height: 55px;
  font-size: 15px;
  border: none;
  border-radius: 0;
  background: #FFD048;
  width: 100%; }
  .search-cat-wrap.affix {
    position: fixed; }
  .search-cat-wrap .inner {
    position: relative;
    padding: 0 10px;
    overflow-x: scroll;
    white-space: nowrap; }
    .search-cat-wrap .inner a {
      position: relative;
      display: table-cell;
      color: #13404c;
      padding: 1.2em 0.7em .1em;
      height: 55px;
      margin: 0 1em;
      border: none; }
      .search-cat-wrap .inner a:first-child {
        margin-left: 1em; }
      .search-cat-wrap .inner a.active:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 1;
        width: 100%;
        border-bottom: 4px solid #13404c; }

.course-list {
  overflow: hidden;
  background: #eaeaea; }
  .course-list .course {
    position: relative; }
    .course-list .course .title-bar {
      position: absolute;
      height: 100px;
      background-image: linear-gradient(-180deg, rgba(16, 47, 63, 0.5) 0%, rgba(16, 47, 63, 0) 100%);
      padding: 1em 0.5em 0;
      left: 0;
      top: 0; }
      .course-list .course .title-bar .pull-left {
        color: #fff;
        text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
        font-size: 18px;
        line-height: 24px;
        width: 66%; }
      .course-list .course .title-bar .pull-right a {
        position: relative;
        display: inline-block;
        margin-left: .5em; }
        .course-list .course .title-bar .pull-right a.round {
          width: 35px;
          height: 35px;
          font-size: 17.5px;
          color: #333; }
          .course-list .course .title-bar .pull-right a.round.yellow {
            background: #FFD048; }
          .course-list .course .title-bar .pull-right a.round.white {
            background: #fff; }
        .course-list .course .title-bar .pull-right a .num {
          position: absolute;
          top: .7em;
          left: 0;
          width: 100%;
          text-align: center;
          font-size: 9px; }
    .course-list .course .cover-holder {
      display: block;
      height: 230px;
      background: #A6AFB2;
      overflow: hidden; }
      .course-list .course .cover-holder img {
        width: 100%; }
    .course-list .course input[type='file'] {
      position: absolute;
      opacity: 0;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0; }
    .course-list .course img.cover {
      width: 100%; }
    .course-list .course .info {
      position: relative;
      text-align: center;
      margin: -4em 0 0;
      min-height: 120px; }
      .course-list .course .info h4 {
        font-size: 15px;
        margin-bottom: 0;
        color: #333;
        font-weight: bold; }
      .course-list .course .info p {
        font-size: 11px;
        margin-bottom: 0;
        color: #A6AFB2; }
      .course-list .course .info .icon-pencil {
        position: absolute;
        left: 50%;
        top: 0;
        margin: 0 0 0 25px;
        font-size: 12.5px;
        color: #333; }
        .course-list .course .info .icon-pencil.yellow {
          background: #FFD048; }
      .course-list .course .info .btn-tag {
        margin-bottom: 10px; }
    .course-list .course .icon-camera {
      position: absolute;
      left: 50%;
      top: 40%;
      font-size: 15px;
      margin: 0 0 0 -15px; }

nav.bar.bar-tab .tab-item {
  position: relative; }
  nav.bar.bar-tab .tab-item .icon {
    display: inline;
    opacity: .6;
    font-size: 19px; }
    nav.bar.bar-tab .tab-item .icon img {
      width: 22px; }
  nav.bar.bar-tab .tab-item.active .icon {
    opacity: 1; }

.bar-tab .tab-item.active, .bar-tab .tab-item:active {
  color: #13404c; }

@media (min-width: 400px) {
  #search-cat.segmented-control {
    font-size: 18px; } }

.padded-text {
  font-size: 12px;
  margin: 0 auto;
  margin-top: 36px;
  margin-bottom: 30px; }

.content-btn {
  padding: 0 2em;
  text-align: center; }

.icons-logo {
  width: 4.5em; }

.padded-tit {
  font-size: 38px; }

.btn-block {
  padding: 11px 0;
  font-size: 16px; }

.cell-nomar {
  margin-top: 0; }

/*register.html*/
#register-page.content .register_form {
  margin: 25px 5% 0; }
  #register-page.content .register_form .input-group {
    position: relative;
    background: none;
    margin-bottom: 5px; }
    #register-page.content .register_form .input-group input[type=number], #register-page.content .register_form .input-group input[type=text], #register-page.content .register_form .input-group input[type=tel] {
      background-color: #fff;
      height: 40px;
      border: 1px solid #ddd; }
      #register-page.content .register_form .input-group input[type=number]#verifyCode, #register-page.content .register_form .input-group input[type=text]#verifyCode, #register-page.content .register_form .input-group input[type=tel]#verifyCode {
        padding-right: 110px; }
    #register-page.content .register_form .input-group input[type=checkbox] {
      background: #333;
      border-radius: 5px; }
    #register-page.content .register_form .input-group button[type=submit] {
      margin: 15px 0; }
    #register-page.content .register_form .input-group .btn-grey {
      position: absolute;
      right: 7px;
      top: 5px;
      padding-left: 15px;
      padding-right: 15px; }
  #register-page.content .register_form p {
    color: #bbb;
    font-size: 14px; }
  #register-page.content .register_form a {
    text-decoration: underline; }
#register-page.content .info {
  text-align: center;
  clear: both; }
  #register-page.content .info img {
    width: 5em;
    height: 5em; }
  #register-page.content .info h4 {
    margin-top: 10px; }
  #register-page.content .info p {
    font-size: 15px;
    color: #4D4D4D; }

/*//Per*/
#personal-page.content {
  background: #f7f7f8; }
  #personal-page.content .bar-tab {
    border-bottom: 1px solid #999; }
  #personal-page.content .bag-color {
    background-color: #FFD048;
    height: auto;
    position: relative; }
  #personal-page.content .info {
    background-color: #FFD048;
    text-align: center;
    padding-top: .5em; }
    #personal-page.content .info h3 {
      font-size: 20px;
      font-weight: normal;
      margin-bottom: 0;
      color: #4d4d4d; }
    #personal-page.content .info .btn-set .btn {
      width: 125px;
      margin: 0 3px; }
  #personal-page.content #slider {
    background: #f7f7f8;
    margin: 0 1.5em; }
    #personal-page.content #slider .slide {
      position: relative; }
  #personal-page.content .bar-tab {
    padding-bottom: 5px;
    background-color: #fff; }
    #personal-page.content .bar-tab .icon {
      color: #333;
      font-size: 20px; }
    #personal-page.content .bar-tab .tab-item span {
      line-height: 1.7; }
    #personal-page.content .bar-tab .tab-label {
      color: #b5bdbf; }
    #personal-page.content .bar-tab .content-padded {
      background-color: #f7f7f8; }
  #personal-page.content .content-padded .padded-tex {
    margin: 35px 5px;
    text-align: left;
    font-size: 16px;
    line-height: 1.7;
    color: #909090; }

#comment .segmented-control {
  border-bottom: 0;
  border-radius: 0;
  border-bottom: 1px solid #ccc;
  width: 100%; }
  #comment .segmented-control .control-item, #comment .segmented-control .control-item-no-js {
    padding: 14px 0;
    width: 33.33%;
    color: #999; }
    #comment .segmented-control .control-item.active, #comment .segmented-control .control-item-no-js.active {
      color: #333;
      background-color: #DBDBDB;
      border-top: 3px solid #116e8e; }
    #comment .segmented-control .control-item h6, #comment .segmented-control .control-item-no-js h6 {
      margin: 0; }
  #comment .segmented-control .side-item {
    display: table-cell;
    width: 33.33%;
    font-size: 10px;
    color: #ccc; }
    #comment .segmented-control .side-item table {
      width: 95%;
      margin: 0 auto;
      position: relative;
      top: -5px; }
      #comment .segmented-control .side-item table tr {
        border: 0 solid #fff;
        line-height: 1.5; }
        #comment .segmented-control .side-item table tr td {
          border: none;
          text-align: center; }
#comment .comment-content {
  position: relative;
  margin: 0;
  border-radius: 0; }
  #comment .comment-content .control-content .verified li {
    position: relative;
    padding: 2em 1em;
    display: block; }
    #comment .comment-content .control-content .verified li h5 {
      display: inline; }
    #comment .comment-content .control-content .verified li img {
      width: 30px;
      float: right;
      position: relative;
      top: -3px; }
  #comment .comment-content .control-content .table-view-cell {
    margin: 0;
    background-image: none;
    border-bottom: 1px solid #fff; }
  #comment .comment-content .control-content #comment-form {
    margin-bottom: 0;
    padding: 10px;
    overflow: hidden;
    background-color: #f2f2f2; }
    #comment .comment-content .control-content #comment-form input {
      margin-bottom: 0;
      width: 82%;
      border-radius: 6px;
      height: 32px; }
    #comment .comment-content .control-content #comment-form .icon-heart {
      border: 1px solid #a6afb2;
      border-radius: 23px;
      padding: 7px;
      background-color: #fff;
      font-size: 16px; }
      #comment .comment-content .control-content #comment-form .icon-heart:before {
        color: #a6afb2;
        position: relative;
        top: 1px; }

.chat-page.bar-footer {
  height: auto;
  padding: 10px 10px 6px; }
  .chat-page.bar-footer #write-box {
    width: 82%;
    margin: 0;
    padding: 3px;
    max-height: 90px;
    overflow-x: hidden; }
  .chat-page.bar-footer .pull-right {
    width: 17%;
    text-align: center; }
    .chat-page.bar-footer .pull-right button {
      height: 28px;
      line-height: 28px;
      color: #126F8F; }
      .chat-page.bar-footer .pull-right button:disabled {
        color: #ccc; }

.popover-chat {
  position: relative;
  background-color: #fff;
  padding: 10px;
  border-radius: 7px;
  font-size: 14px;
  color: #7E7E7E;
  border: 1px solid #ccc; }
  .popover-chat .arrow {
    position: absolute;
    top: 13px;
    height: 0px;
    width: 0px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent transparent; }
    .popover-chat .arrow:after {
      border-width: 10px; }
  .popover-chat .arrow, .popover-chat .arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid; }
  .popover-chat.left {
    margin-right: 60px; }
    .popover-chat.left .arrow {
      right: -6px;
      border-right-width: 0;
      border-left-color: #999;
      border-left-color: rgba(0, 0, 0, 0.25); }
      .popover-chat.left .arrow:after {
        right: 1px;
        bottom: -10px;
        content: " ";
        border-right-width: 0;
        border-left-color: #fff; }
  .popover-chat.right {
    margin-left: 60px; }
    .popover-chat.right .arrow {
      left: -11px;
      border-right-color: #999;
      border-right-color: rgba(0, 0, 0, 0.25); }
      .popover-chat.right .arrow:after {
        bottom: -10px;
        left: 1px;
        content: " ";
        border-right-color: #fff;
        border-left-width: 0; }
  .popover-chat.bottom .arrow {
    top: -11px;
    left: 50%;
    margin-left: -11px;
    border-top-width: 0;
    border-bottom-color: #999;
    border-bottom-color: rgba(0, 0, 0, 0.25); }
    .popover-chat.bottom .arrow:after {
      top: 1px;
      margin-left: -10px;
      content: " ";
      border-top-width: 0;
      border-bottom-color: #fff; }

.chat-page.content {
  padding-top: .5em; }
  .chat-page.content .popover {
    position: relative;
    display: block;
    float: left;
    width: 260px;
    margin: 20px;
    top: 0;
    left: 0;
    z-index: 1060;
    max-width: 276px;
    padding: 1px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: left;
    white-space: normal;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }
    .chat-page.content .popover .arrow {
      top: 50%;
      left: -11px;
      margin-top: -11px;
      border-right-color: rgba(0, 0, 0, 0.25);
      border-left-width: 0;
      border-width: 11px; }
    .chat-page.content .popover .arrow:after {
      bottom: -10px;
      left: 1px;
      content: " ";
      border-right-color: #fff;
      border-left-width: 0;
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid; }
    .chat-page.content .popover .popover-content {
      padding: 9px 14px; }
      .chat-page.content .popover .popover-content p {
        margin: 0 0 10px; }
  .chat-page.content .time {
    text-align: center;
    color: #b5bdbf;
    font-size: 12px;
    margin-bottom: 2px; }
  .chat-page.content .bar {
    box-shadow: none;
    position: relative; }
    .chat-page.content .bar .title {
      color: #606060;
      font-size: 22px; }
  .chat-page.content .chat-content {
    width: 90%;
    margin: 0 auto;
    margin-top: 10px; }
    .chat-page.content .chat-content .box {
      overflow: hidden;
      margin-bottom: 15px;
      padding-bottom: 2px; }
      .chat-page.content .chat-content .box .avatar {
        width: 50px;
        height: 50px;
        border-width: 2px; }
      .chat-page.content .chat-content .box.sender .avatar {
        float: right; }
      .chat-page.content .chat-content .box.receiver .avatar {
        float: left; }

/* classes.css */
.course-page.content .info {
  text-align: center;
  clear: both;
  padding-top: 30px;
  background-color: #f7f7f8; }
  .course-page.content .info small {
    color: #A6AFB2; }
  .course-page.content .info .follow {
    width: 40%; }
  .course-page.content .info > h5 {
    margin: 0; }
  .course-page.content .info .evaluation {
    position: relative;
    margin-top: -15px; }
    .course-page.content .info .evaluation h5 {
      position: relative;
      top: 2.5em;
      z-index: 999;
      background: #f7f7f8;
      padding: 1em;
      display: inline-block;
      font-weight: normal;
      font-size: 12px;
      color: #7E7E7E;
      margin-top: 0; }
  .course-page.content .info .table {
    position: relative;
    box-shadow: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 5px 0;
    display: table;
    width: 100%;
    height: 50px;
    padding: 0;
    table-layout: fixed; }
    .course-page.content .info .table .border-right {
      border-right: 1px solid #ddd; }
    .course-page.content .info .table .table-item {
      display: table-cell;
      width: 1%;
      height: 50px;
      color: #929292;
      text-align: center;
      vertical-align: middle;
      font-size: 0;
      padding: 13px 0; }
      .course-page.content .info .table .table-item h3 {
        font-weight: normal;
        font-size: 24px;
        color: #A6AFB2;
        line-height: 24px; }
      .course-page.content .info .table .table-item .tab-label {
        color: #b5bdbf;
        font-size: 12px; }
.course-page.content .cover-box {
  position: relative;
  overflow: hidden;
  height: 204px; }
  .course-page.content .cover-box .cover-filter {
    position: absolute;
    height: 204px;
    width: 100%;
    left: 0;
    top: 0;
    background-image: linear-gradient(-180deg, rgba(16, 47, 63, 0.5) 0%, rgba(16, 47, 63, 0) 100%); }
  .course-page.content .cover-box h3 {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 35%; }
  .course-page.content .cover-box .title-list {
    position: absolute;
    margin-bottom: 0;
    text-align: center;
    bottom: 10%;
    width: 100%; }
    .course-page.content .cover-box .title-list a {
      display: inline-block;
      background-color: #fff;
      opacity: .8;
      border-radius: 15px;
      font-size: 12px;
      width: 28%;
      margin: 4px;
      line-height: 2; }
      .course-page.content .cover-box .title-list a .blue {
        color: #116f8f; }
      .course-page.content .cover-box .title-list a span {
        margin: 0 2px; }
      .course-page.content .cover-box .title-list a .icon {
        position: relative;
        top: 3px;
        font-size: 16px; }
  .course-page.content .cover-box img {
    width: 100%; }
.course-page.content .course-detail {
  text-align: left;
  background: #fff;
  overflow: hidden; }
  .course-page.content .course-detail h3 {
    text-align: center;
    padding: 1.5em 0;
    margin: 0;
    color: #666;
    font-size: 17px;
    font-weight: normal; }
  .course-page.content .course-detail p {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 25px;
    font-size: 14px;
    letter-spacing: 2px; }
  .course-page.content .course-detail h4 {
    padding: 0;
    font-size: 16px;
    color: #fff;
    position: relative; }
    .course-page.content .course-detail h4 img {
      width: 86.5px;
      height: 25px; }
    .course-page.content .course-detail h4 span {
      position: absolute;
      left: 5px;
      top: 5px;
      font-size: 12px; }
.course-page.content #comment .segmented-control .control-item, .course-page.content #comment .segmented-control .control-item-no-js {
  background: #DBDBDB; }

.course-page.bar-footer {
  text-align: center;
  height: 46px;
  padding: 0 2px;
  background: rgba(255, 255, 255, 0.8);
  border: none; }
  .course-page.bar-footer a {
    font-size: 0; }
    .course-page.bar-footer a .btn-yellow {
      position: relative;
      top: 4px;
      background-color: #FECF4C;
      border: none;
      border-radius: 4px;
      color: #424242;
      height: 37px;
      line-height: 1.5;
      font-size: 16px;
      width: 48%;
      margin: 0 3px; }

.courses-manage-page .well {
  text-align: center; }
  .courses-manage-page .well a {
    font-size: 15px; }

.btn-tag {
  display: inline-block;
  padding: 2px 10px;
  font-size: 12px;
  border-radius: 2px;
  line-height: 14px; }
  .btn-tag.grey {
    background: #A6AFB2;
    color: #fff; }
  .btn-tag.orange {
    background: #F76033;
    color: #fff; }
  .btn-tag.green {
    background: #B2DE02;
    color: #fff; }
  .btn-tag.yellow {
    background: #FFD048;
    color: #fff; }

.segmented-control, .segmented-control-no-js {
  position: relative;
  display: table;
  overflow: hidden;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 3px; }
  .segmented-control .control-item, .segmented-control .control-item-no-js, .segmented-control-no-js .control-item, .segmented-control-no-js .control-item-no-js {
    display: table-cell;
    width: 1%;
    padding-top: 6px;
    padding-bottom: 7px;
    overflow: hidden;
    line-height: 1;
    color: #333;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-left: 1px solid #ccc; }
    .segmented-control .control-item:first-child, .segmented-control .control-item-no-js:first-child, .segmented-control-no-js .control-item:first-child, .segmented-control-no-js .control-item-no-js:first-child {
      border-left-width: 0; }
    .segmented-control .control-item:active, .segmented-control .control-item-no-js:active, .segmented-control-no-js .control-item:active, .segmented-control-no-js .control-item-no-js:active {
      background-color: #eee; }
    .segmented-control .control-item.active, .segmented-control .control-item-no-js.active, .segmented-control-no-js .control-item.active, .segmented-control-no-js .control-item-no-js.active {
      background-color: #ccc; }

.teaching-list .teaching {
  margin-bottom: 1em; }
  .teaching-list .teaching.disabled {
    background: none; }
    .teaching-list .teaching.disabled .course-info {
      opacity: 0.5; }
  .teaching-list .teaching .inner {
    padding: 8px; }
    .teaching-list .teaching .inner .profile {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-bottom: 5px; }
      .teaching-list .teaching .inner .profile .img {
        width: 20%; }
        .teaching-list .teaching .inner .profile .img img.avatar {
          float: left;
          width: 3em;
          height: 3em; }
      .teaching-list .teaching .inner .profile .name {
        width: 47%;
        color: #126f8f;
        font-size: 15px; }
        .teaching-list .teaching .inner .profile .name a {
          color: #126f8f; }
      .teaching-list .teaching .inner .profile .approval {
        width: 33%;
        text-align: right; }
      .teaching-list .teaching .inner .profile small {
        font-size: 11px;
        color: #999; }
    .teaching-list .teaching .inner .popover-chat {
      background: #F7F7F7; }
      .teaching-list .teaching .inner .popover-chat .arrow {
        border-width: 5px;
        top: -11px;
        left: 30px; }
        .teaching-list .teaching .inner .popover-chat .arrow:after {
          border-bottom-color: #F7F7F7; }
      .teaching-list .teaching .inner .popover-chat .main {
        font-size: 13px;
        color: #333; }
    .teaching-list .teaching .inner .course-info {
      font-size: 15px;
      color: #666; }
      .teaching-list .teaching .inner .course-info .olive {
        color: #126f8f; }
    .teaching-list .teaching .inner .btn-set {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around; }
      .teaching-list .teaching .inner .btn-set .btn {
        border: 1px solid #ccc;
        border-radius: 20px;
        font-size: 13px;
        color: #666;
        font-weight: bold;
        padding: 5px 2.5em; }
  .teaching-list .teaching .foot-bar {
    display: block;
    background: #126f8f;
    text-align: center;
    color: #fff;
    line-height: 2.5em;
    font-size: 16px; }
    .teaching-list .teaching .foot-bar.dark-olive {
      background: #102F3F; }

.icon-female, .icon-male {
  position: relative;
  top: 1px;
  width: 16px;
  height: 16px;
  font-size: 12px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  vertical-align: super;
  margin-left: 5px; }
  .icon-female:before, .icon-male:before {
    position: relative;
    top: 2px; }

.icon-female {
  background: #f69fa5; }

.icon-male {
  background: #46c7ef; }

#message-page.content .red-dot {
  margin-left: 16px; }

.fixfixed .bar {
  position: absolute; }

.my-alert {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0; }
  .my-alert .inner {
    background: #999;
    padding: 0.8em 1.5em;
    color: #fff;
    border-radius: 5px; }

#course-search .course-list img.cover {
  min-height: 70vw; }

.add-course-page {
  display: none; }
  .add-course-page .btn-olive {
    background: #126f8f; }
  .add-course-page.active {
    display: block; }
  .add-course-page form {
    margin-top: 85px; }
    .add-course-page form .inner {
      margin: 10px 20px; }
      .add-course-page form .inner h3 {
        font-size: 19px; }
      .add-course-page form .inner h5 {
        font-size: 15px;
        color: #4d4d4d; }
      .add-course-page form .inner .select-lever .wrapper {
        position: relative; }
        .add-course-page form .inner .select-lever .wrapper .num {
          position: absolute;
          pointer-events: none;
          top: 5px;
          width: 30px;
          height: 30px;
          background: #126f8f;
          border-radius: 50%;
          line-height: 30px;
          text-align: center;
          color: #fff;
          font-size: 13px; }
        .add-course-page form .inner .select-lever .wrapper ul.vertical-lines {
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          position: absolute;
          width: 100%;
          left: 0;
          top: 18px;
          pointer-events: none; }
          .add-course-page form .inner .select-lever .wrapper ul.vertical-lines li {
            -webkit-flex-grow: 1;
                -ms-flex-positive: 1;
                    flex-grow: 1;
            width: 20%;
            float: left;
            border-right: 1px solid #fff;
            height: 8px; }
            .add-course-page form .inner .select-lever .wrapper ul.vertical-lines li:nth-child(100n+5) {
              border: none; }
      .add-course-page form .inner .select-lever ul.levers {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        .add-course-page form .inner .select-lever ul.levers.lever-bar {
          background-image: linear-gradient(-90deg, #A6AFB2 0%, #D9DCDD 99%);
          border-radius: 10px; }
        .add-course-page form .inner .select-lever ul.levers li {
          -webkit-flex-grow: 1;
              -ms-flex-positive: 1;
                  flex-grow: 1;
          width: 20%;
          float: left;
          position: relative;
          text-align: center;
          font-size: 13px;
          color: #A6AFB2; }
  .add-course-page.step-2 form .inner input, .add-course-page.step-2 form .inner textarea {
    margin-bottom: 0; }
  .add-course-page.step-2 form #extra {
    background: #A6AFB2;
    margin-top: 2em; }
    .add-course-page.step-2 form #extra .inner {
      margin-bottom: 0;
      padding-bottom: 10px; }
      .add-course-page.step-2 form #extra .inner .tl {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        color: #fff;
        font-size: 15px;
        padding: 1em 0; }
        .add-course-page.step-2 form #extra .inner .tl h5 {
          margin: 0;
          color: #fff; }
        .add-course-page.step-2 form #extra .inner .tl small {
          font-size: 12px; }
      .add-course-page.step-2 form #extra .inner input {
        margin-bottom: 18px; }
      .add-course-page.step-2 form #extra .inner textarea {
        margin-bottom: 15px; }
  .add-course-page.step-3 form .inner {
    margin: 0; }
  .add-course-page.step-saved form .inner {
    margin: 0; }
  .add-course-page.step-success form {
    margin-top: 70px; }
    .add-course-page.step-success form .inner {
      margin: 0; }
      .add-course-page.step-success form .inner h4 {
        font-size: 15px;
        line-height: 1.5; }
  .add-course-page.step-private .edit-avatar {
    position: relative;
    text-align: center; }
    .add-course-page.step-private .edit-avatar a {
      position: relative;
      display: inline-block; }
      .add-course-page.step-private .edit-avatar a .avatar {
        width: 78px;
        height: 78px; }
      .add-course-page.step-private .edit-avatar a .icon {
        position: absolute;
        left: 50%;
        top: 50%;
        margin: -15px 0 0 -15px;
        font-size: 15px; }
      .add-course-page.step-private .edit-avatar a input[type=file] {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        opacity: 0; }
  .add-course-page.step-private .group-input {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .add-course-page.step-private .group-input input {
      width: 48%; }
  .add-course-page.step-private h5 {
    margin-top: 5px; }

.bar.step-1, .bar.step-2, .bar.step-3, .bar.step-success {
  display: none; }
  .bar.step-1.active, .bar.step-2.active, .bar.step-3.active, .bar.step-success.active {
    display: block; }
.bar.step-success .main {
  background: none;
  height: 44px; }
  .bar.step-success .main .step-name {
    font-size: 20px;
    color: #666; }

body > .content > header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 6px 0; }
  body > .content > header h4 {
    margin: 0;
    color: #333; }

.steps {
  padding: 0; }
  .steps .main {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 6px;
    background: #102F3F;
    color: #fff; }
    .steps .main > * {
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      width: 33%; }
    .steps .main .step-name {
      text-align: center;
      font-size: 15px; }
    .steps .main .center-title {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      line-height: 44px; }
    .steps .main .btn {
      padding: 8px 12px;
      width: auto;
      top: 0; }
      .steps .main .btn.disabled {
        opacity: 0.3; }
    .steps .main .icon {
      padding: 0; }
    .steps .main .right {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .steps .main .right .btn {
        margin-left: 5px; }
  .steps .process-bar {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .steps .process-bar li {
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      background: #A6AFB2;
      height: 7px; }
      .steps .process-bar li:nth-child(100n+2) {
        border-left: 1px solid #fff;
        border-right: 1px solid #fff; }
      .steps .process-bar li.yellow {
        background: #FFD048; }

.custom-radio {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .custom-radio li {
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: 33%;
    font-size: 13px; }
    .custom-radio li label {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-appearance: none;
      -webkit-tap-highlight-color: transparent; }
      .custom-radio li label .icon {
        font-size: 10px;
        margin-right: 10px; }
        .custom-radio li label .icon.round {
          background: #fff;
          border-color: #A6AFB2;
          color: #eaeaea; }
          .custom-radio li label .icon.round.selected {
            background: #126f8f;
            color: #fff; }
      .custom-radio li label input {
        width: 0;
        height: 0;
        overflow: hidden;
        visibility: hidden; }

.table-view-cell {
  font-size: 14px;
  color: #333; }
  .table-view-cell .tail {
    position: absolute;
    top: 50%;
    right: 15px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    font-size: 12px;
    color: #999; }

.setting-page .page-title {
  font-size: 20px;
  color: #4d4d4d; }
.setting-page header .main {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding-right: 10px; }
  .setting-page header .main > * {
    width: 33%;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  .setting-page header .main .avatar {
    width: 35px;
    height: 35px;
    border-width: 2px; }
.setting-page .info {
  background: #FFD048;
  height: 110px;
  padding: 12px; }
  .setting-page .info .avatar {
    margin: 0 1em 0 0; }
  .setting-page .info h3 {
    font-size: 20px;
    margin: 7px 0 0;
    color: #4d4d4d; }
  .setting-page .info p {
    margin: 0; }
.setting-page h5 {
  margin: 0 10px;
  font-size: 15px;
  color: #A6AFB2;
  font-weight: normal; }
.setting-page .logout {
  text-align: center;
  margin: 1em; }
  .setting-page .logout a {
    font-size: 15px;
    color: #A6AFB2;
    line-height: 16px; }
.setting-page .coins {
  margin-top: 25px;
  margin-bottom: 20px; }
  .setting-page .coins td {
    padding: 11px 14px 8px; }
    .setting-page .coins td h1, .setting-page .coins td h6, .setting-page .coins td p {
      margin: 0; }
    .setting-page .coins td:first-child {
      text-align: center;
      border-right: 1px solid #ddd;
      color: #126f8f; }
      .setting-page .coins td:first-child h1 {
        font-size: 60px;
        line-height: 50px; }
      .setting-page .coins td:first-child span {
        white-space: nowrap;
        font-size: 12px;
        line-height: 16px; }
    .setting-page .coins td:last-child h6 {
      font-size: 13px;
      line-height: 16px;
      margin-bottom: 0.7em; }
      .setting-page .coins td:last-child h6 .icon-locked {
        font-size: 12px;
        color: #A6AFB2;
        margin-right: 6px; }
    .setting-page .coins td:last-child p {
      font-size: 11px;
      color: #A6AFB2;
      line-height: 15px; }
.setting-page .table-view-cell {
  padding: 9px 65px 11px 13px; }

.setting-favorites-page .list {
  margin: 10px; }
  .setting-favorites-page .list li {
    border-radius: 5px;
    overflow: hidden;
    background: #fff;
    margin-bottom: 10px;
    border: 1px solid #ccc; }
    .setting-favorites-page .list li a .left img {
      float: left;
      width: 100px; }
    .setting-favorites-page .list li a .right {
      padding: 10px 8px 0;
      margin-left: 100px; }
      .setting-favorites-page .list li a .right .course-name {
        font-size: 15px;
        line-height: 1.2em;
        color: #126f8f;
        margin: 0; }
      .setting-favorites-page .list li a .right span {
        font-size: 12px;
        color: #A6AFB2; }

.setting-fans-page .list {
  margin: 10px; }
  .setting-fans-page .list li {
    border-radius: 5px;
    border: 1px solid #ccc;
    overflow: hidden;
    background: #fff;
    margin-bottom: 10px;
    padding: 8px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .setting-fans-page .list li .left a {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      color: #666;
      font-size: 15px; }
      .setting-fans-page .list li .left a img {
        width: 35px;
        height: 35px;
        margin-right: 5px; }
    .setting-fans-page .list li .right {
      float: right; }
      .setting-fans-page .list li .right .btn {
        padding: 8px 1em; }
        .setting-fans-page .list li .right .btn.btn-grey {
          background: #ccc; }
        .setting-fans-page .list li .right .btn.btn-olive {
          border: none; }
