<!doctype html>
<html xmlns:wb="http://open.weibo.com/wb">
<head>
<meta charset = "utf-8">
<title>Sina Mini Blog</title>
<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=111240964" type="text/javascript" charset="utf-8"></script>
</head>


<body>
<wb:login-button type="3,2" onlogin="login" onlogout="logout">登录按钮</wb:login-button>
    <script type="text/javascript" >
    WB2.anyWhere(function (W) {
        W.widget.connectButton({
            id: "wb_connect_btn",
            type: "3,2",
            callback: {
                login: function (o) {	//登录后的回调函数
                },
                logout: function () {	//退出后的回调函数
                }
            }
        });
    });
</script>
</body>
</html>
