@{
    Layout = "~/Views/Shared/_Layout_old.cshtml"; } @section HeaderStyle {     @Html.CombresCustomUrl("classPhotoCss") } 
@section FooterJs {     @Html.CombresCustomUrl("classPhotoJs") } <div class="demo" style=" margin-top:60px;">
            <div class="bheader"><h2>Upload images</h2></div>
            <div class="bbody">

                <!-- upload form -->
                <form id="upload_form" enctype="multipart/form-data" onsubmit="return checkForm()">
                    <!-- hidden crop params -->
                    
                    <h2>Step 1 :select file</h2>
                    <div><input type="file" name="image_file" id="image_file"/></div>

                    <div class="error"></div>

                    <div class="step2">
                        <h2>请鼠标圈选需要截图的部位,然后按上传</h2>
                        <div id="preview-holder"></div>

                        <div class="fileinfo">
                            <input type="hidden" id="x1" name="x1" />
                            <input type="hidden" id="y1" name="y1" />
                            <input type="hidden" id="x2" name="x2" />
                            <input type="hidden" id="y2" name="y2" />
                            <label>Size</label> <input type="text" id="filesize" name="filesize" />
                            <label>Type</label> <input type="text" id="filetype" name="filetype" />
                            <label>image size</label> <input type="text" id="filedim" name="filedim" />
                            <label>Width</label> <input type="text" id="w" name="w" />
                            <label>Height</label> <input type="text" id="h" name="h" />
                        </div>

                        <div style="width:200px;height:30px;border:solid 1px green;" id="upload-image" />
                        <div id="preview"></div>
                    </div>
                </form>
            </div>
 </div>